body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: LuckiestGuy;
    background-image: url('./img/3.Background/underthesea.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
}

@font-face {
    font-family: LuckiestGuy;
    src: url('./fonts/LuckiestGuy-Regular.ttf');
}

.d-none {
    display: none !important;
}

canvas {
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    z-index: 1;
}

h1 {
    font-size: 68px;
    margin: 0 0 24px 0;
    text-shadow: 0px 0px 10px white;
    color: darkblue;
}

#startscreen {
    width: 720px;
    height: 480px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/sharkiestartscreen.jpg');
    background-size: cover;
}

#youwin {
        width: 720px;
        height: 480px;
        border-radius: 5px;
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background-image: url('./img/6.Botones/Tittles/Youwin/youwin.png');
        background-size: cover;
}

#gameover {
    width: 720px;
        height: 480px;
        border-radius: 5px;
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background-image: url('./img/sharkiestartscreen.jpg');
        background-size: cover;
        gap: 50px;
}

.gameover-slogan {
    font-family: LuckiestGuy;
    font-size: 100px;
    color: white;
}

.navigation-btn-wrapper {
    width: 140px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.start-btn {
    width: 140px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCEE21;
    color: #1B1464;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    letter-spacing: 0px;
    transition: all 0.25s ease-out;
}

.start-btn-large {
    width: 160px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCEE21;
    color: #1B1464;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    letter-spacing: 0px;
    transition: all 0.25s ease-out;
}

.start-btn-small {
    width: 100px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCEE21;
    color: #1B1464;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    letter-spacing: 0px;
    transition: all 0.25s ease-out;
}

.start-btn:hover, .start-btn-large:hover, .start-btn-small:hover {
    text-shadow: 2px 2px 2px white;
    transform: scale(1.1);
    letter-spacing: 2px;
}

.button-icon:hover {
    transform: scale(1.2);
}

.button-icon-minimize:hover {
    transform: scale(0.8);
}

#game-informations {
    width: 720px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 24px 0 0 0;
}

.instructions {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCEE21;
    color: #1B1464;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
}

.sound-btn {
    width: 42px;
    height: 42px;
    background-color: #FCEE21;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    width: 32px;
    height: 32px;
    background-color: #FCEE21;
    transition: transform 0.25s ease-out;
}

#impressum {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/sharkiestartscreen.jpg');
    background-size: cover;
}

.paragraph {
    width: 500px;
    height: 300px;
    color: white;
    font-size: 20px;
    text-align: center;
}